doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/public/index.css")
    title Document
  body 
    h1 User profile page
    h2 Nickname 
    div= userInfo.nickname

    h2 Profile
    img(src=userInfo.profileImage).profileImage
    form(action=`/users/${userId}/profile`, method="post", enctype="multipart/form-data")
      input(type="file", name="profile")
      button Upload Profile Picture